*.pyc
*.pyo
*.egg-info
*~
*.swp
.directory
*,cover

.coverage
develop-eggs/
extend-develop/
parts/
eggs/
*-log.txt
.installed.cfg
bin/
build/
dist/
.pydevproject
.pydevproject.bak
.project
.settings
.noseids
doc/apidoc/
doc/_build/
doc/coverage/
i18n/*/LC_MESSAGES/*.mo
i18n/*/LC_MESSAGES/*.js
src/twisted/plugins/dropin.cache

/vendor/
/src/.*
/src/*.*
/src/ajax/
/src/config/
/src/css/
/src/files/
/src/front/
/src/inc/
/src/install/
/src/lib/
/src/locales/
/src/pics/
/src/plugins/remove.txt
/src/scripts/
/src/tests/
/src/tools/
/src/vendor/
